body{
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

.parfum{
    background-color: white;
    display: flex;
    width: 600px;
    height: 450px;
    margin-left: 32%;
    margin-top: 9%;
    border-radius: 10px;
}

.image{
    width: 50%;
    background: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    height : 100%;
    border-radius: 10px 0px 0px 10px;
}

.text{
    width: 50%;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 14px;
}

.text>span{
    font-size: 14px;
    letter-spacing: 7px;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
}

.text>h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin-right: 80px;
}

.text>.description{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
    margin-right: 65px;
}

.text>.price{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
}

.price>.old_price{
    text-decoration: line-through;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-left: 7%;
}

.cart{
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 90%;
    height: 10%;
    margin-bottom: 35px;
    border-style: none;
    border-radius: 10px;
}

.cart:hover {
    background-color: hsl(156, 42%, 18%);
}

@media (max-width: 600px) {
    body {
        height: auto;
    }

    .parfum{
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }

    .image{
        height: 300px;
        width: 100%;
        background-image: url("images/image-product-mobile.jpg");
        background-size: cover;
        background-position: center;
        max-width : 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .text{
        width: 90%;
    }

    .cart{
        height: 50px;
        margin-bottom: 20px;
    }
}